{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
   <div class="container mt-5" style="min-height: 40rem">
       {% for flashError in app.flashes('reset_password_error') %}
           <div class="alert alert-danger" role="alert">{{ flashError }}</div>
       {% endfor %}
     <div class="row">
         <div class="col-md-6">
             <div class="card">
                 <div class="card-header">
                     <h1>Zurücksetzen Ihres Passworts</h1>
                 </div>
                 <div class="card-body">


                     {{ form_start(requestForm) }}
                     {{ form_row(requestForm.email) }}
                     <div>
                         <small>
                             Geben Sie Ihre E-Mail Adresse ein und wir senden Ihnen einen Link zum Passwort zurücksetzen.
                         </small>
                     </div>

                     <button class="btn btn-primary">Sende Passwort reset Mail</button>
                     {{ form_end(requestForm) }}
                 </div>
             </div>
         </div>
     </div>
   </div>
{% endblock %}