{% extends 'base.html.twig' %}

{% block title %}Setzen Sie Ihr Passwort zurück{% endblock %}

{% block body %}
    <div class="container mt-5" style="min-height: 40rem">
        <div class="row">
            <div class="col-md-6">
               <div class="card">
                   <div class="card-header">
                       <h1>Zurücksetzen Ihres Passworts</h1>
                   </div>
                   <div class="card-body">
                       {{ form_start(resetForm) }}
                       {{ form_row(resetForm.plainPassword) }}
                       <button class="btn btn-primary">Passwort ändern</button>
                       {{ form_end(resetForm) }}
                   </div>
               </div>
            </div>
        </div>
    </div>
{% endblock %}
