{% extends 'base.html.twig' %}

{% block description %}{{ description }}{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <!-- Soapy -->
    <div id="soapy" class="mb-2">
        <div class="container">
            <div>
                <h1 class="soapy-heading text-center">Finden Sie den perfekten Gastgeber</h1>
                <div class="soapy-sub-heading text-center">Suchen Sie den Gastgeber der am besten zu Ihnen passt.</div>
                {% include('search.html.twig') %}
            </div>
        </div>
    </div>
    <!-- Soapy #END -->


    <div class="container mt-3 mb-5">

        <!-- Premium Member Aria -->
        <h2 class="mt-5 mb-5">Gastgeber <small class="font-weight-lighter text-muted"
                                               style="font-size: 0.8rem">Werbung</small></h2>
        {{ include('boxes/_premium_host_box.html.twig') }}
        <!-- Premium Member Aria #END -->

        <!-- Top Activity -->
        <h3 class="mb-5 mt-5">Top Aktivitäten</h3>
        <!-- Top Activity #END -->

    </div>

{% endblock %}

