{% extends 'base.html.twig' %}

{% block description %}{{ content.metaDescription }}{% endblock %}

{% block title %}{{ content.metaTitle }}{% endblock %}

{% block body %}

    <!-- Image -->
    <div id="start-page-image" class="mb-2">
    <div class="container">
        <div>

        </div>
    </div>
    </div>
    <!-- Image #END -->
    <!-- Soapy -->
    <div id="soapy" class="mb-2">
        <div class="container">
            <div>
                {% include('search.html.twig') %}
            </div>
        </div>
    </div>
    <!-- Soapy #END -->


    <div class="container mt-3 mb-5">
        <div class="row">
            <!-- Leisure Time -->
            <h1><a href="{{ path('leisure') }}" class="text-decoration-none">Freizeitangebote</a></h1>
        </div>
        <div class="row">
            {% for leisure in leisures %}
                {{ include('boxes/_leisure_item_box.html.twig') }}
            {% endfor %}
        </div>
    </div>

{% endblock %}

