<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="index, follow">

    <meta name="description"
          content="{% block description %}Welcome!{% endblock %}">

    <title>{% block title %}Welcome!{% endblock %}</title>

    {# todo IMPORTENT remove in production no index #}
    <meta name="robots" content="noindex" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed:300&display=swap" rel="stylesheet">
    <!-- Fontawesome Icons -->


    <!-- Dynamic Style -->
    {% block stylesheets %}
        {{ encore_entry_link_tags('admin-css') }}
    {% endblock %}

</head>
<body id="body">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!-- Side Navigation -->
            <aside class="bg-dark">
                {% include('admin/navigation.html.twig') %}
            </aside>
            <!-- Side Navigation #END -->
        </div>

        <!-- admin content -->
        <div class="col-md-10">


            <main id="main">
                <!-- header messages -->
                <div class="row bg-light p-3 border-bottom">
                    <div class="col-md-12 text-right">
                        <p>Nachrichten</p>
                    </div>
                </div>
                <!-- header messages -->
                {% block body %}



                    <!-- Panel -->
                    <div class="row">

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Inhalts-Seiten bearbeiten</p>
                                    <p>Dort könen Sie die Inhaltsseiten vom System bearbeiten wie z.b. das Impressum</p>
                                </div>
                            </div>
                        </div>

                    </div>
                {% endblock %}
            </main>
        </div>
    </div>
</div>





<!-- JAVASCRIPT -->
<!-- .js at the end -->
{% block javascripts %}
    {{ encore_entry_script_tags('front-js') }}
    {{ encore_entry_script_tags('admin-js') }}
{% endblock %}
</body>
</html>