<ul class="nav navbar-dark flex-column bg-dark">
    <li class="nav-item bg-info border-bottom text-center pt-4 pb-4">
        <a href="{{ path('index') }}" class="text-white">Dashboard</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('index') }}" class="nav-link">Zur Seite</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Content</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Veranstaltung</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Benutzer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Hostel</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Statistiken</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Media</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Wetter</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
            <i class="fas fa-envelope"></i> roger.gerecke@gmail.com</a>
    </li>
</ul>