// customize some Bootstrap variables

/* Color Theme Swatches in RGBA */
$color-theme_brucke-salzwasser-meer-gk9e9j-1-rgba: rgba(117, 155, 174, 1);
$color-theme_brucke-salzwasser-meer-gk9e9j-2-rgba: rgba(5, 59, 166, 1);
$color-theme_brucke-salzwasser-meer-gk9e9j-3-rgba: rgba(31, 100, 191, 1);
$color-theme_brucke-salzwasser-meer-gk9e9j-4-rgba: rgba(82, 154, 217, 1);
$color-theme_brucke-salzwasser-meer-gk9e9j-5-rgba: rgba(138, 176, 191, 1);

/* Color Theme Swatches in RGBA */
$triade-1-rgba: rgba(7, 54, 115, 1);
$triade-2-rgba: rgba(191, 64, 50, 1);
$triade-3-rgba: rgba(31, 100, 191, 1);
$triade-4-rgba: rgba(157, 191, 11, 1);
$triade-5-rgba: rgba(95, 115, 13, 1);

/* Color Theme Swatches in RGBA */
$kompliment-2-1-rgba: rgba(9, 55, 115, 1);
$kompliment-2-2-rgba: rgba(66, 148, 255, 1);
$kompliment-2-3-rgba: rgba(31, 100, 191, 1);
$kompliment-2-4-rgba: rgba(115, 75, 0, 1);
$kompliment-2-5-rgba: rgba(191, 135, 31, 1);

/* Color Theme Swatches in RGBA */
$zusammengeset-1-rgba: rgba(36, 15, 242, 1);
$zusammengeset-2-rgba: rgba(54, 50, 89, 1);
$zusammengeset-3-rgba: rgba(31, 100, 191, 1);
$zusammengeset-4-rgba: rgba(199, 145, 82, 1);
$zusammengeset-5-rgba: rgba(242, 104, 15, 1);

/* Colors */
$body-color: darken($triade-1-rgba, 10);

$theme-colors: (
        "primary": $triade-3-rgba,
        "danger": $triade-2-rgba,
        "success": $triade-4-rgba,
        "info": $kompliment-2-2-rgba,
        "warning":$zusammengeset-5-rgba,
);

$border-color: lighten($color-theme_brucke-salzwasser-meer-gk9e9j-5-rgba, 30);

/* Fonts */
$headings-color: $kompliment-2-1-rgba;
$headings-font-family: 'Oswald', sans-serif;
$font-family-sans-serif: 'Roboto Condensed', sans-serif;

h1, .h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
}

h5, .h5 {
  font-family: $font-family-sans-serif
}


/* Navigation */
.navbar {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.nav-item {
  text-transform: uppercase;
  font-weight: bold;
}

/* Login Form */
#body {
  height: 100%;
}

#body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";