// customize some Bootstrap variables

/* Color Theme Swatches in RGBA */
$color-theme_brucke-salzwasser-meer-gk9e9j-1-rgba: rgba(117, 155, 174, 1);
$color-theme_brucke-salzwasser-meer-gk9e9j-2-rgba: rgba(5, 59, 166, 1);
$color-theme_brucke-salzwasser-meer-gk9e9j-3-rgba: rgba(31, 100, 191, 1);
$color-theme_brucke-salzwasser-meer-gk9e9j-4-rgba: rgba(82, 154, 217, 1);
$color-theme_brucke-salzwasser-meer-gk9e9j-5-rgba: rgba(138, 176, 191, 1);

/* Color Theme Swatches in RGBA */
$triade-1-rgba: rgba(7, 54, 115, 1);
$triade-2-rgba: rgba(191, 64, 50, 1);
$triade-3-rgba: rgba(31, 100, 191, 1);
$triade-4-rgba: rgba(157, 191, 11, 1);
$triade-5-rgba: rgba(95, 115, 13, 1);

/* Color Theme Swatches in RGBA */
$kompliment-2-1-rgba: rgb(9, 55, 115);
$kompliment-2-2-rgba: rgba(66, 148, 255, 1);
$kompliment-2-3-rgba: rgba(31, 100, 191, 1);
$kompliment-2-4-rgba: rgba(115, 75, 0, 1);
$kompliment-2-5-rgba: rgba(191, 135, 31, 1);

/* Color Theme Swatches in RGBA */
$zusammengeset-1-rgba: rgba(36, 15, 242, 1);
$zusammengeset-2-rgba: rgba(54, 50, 89, 1);
$zusammengeset-3-rgba: rgba(31, 100, 191, 1);
$zusammengeset-4-rgba: rgba(199, 145, 82, 1);
$zusammengeset-5-rgba: rgba(242, 104, 15, 1);

/* Colors */
$body-color: darken($triade-1-rgba, 10);

$theme-colors: (
        "primary": $triade-3-rgba,
        "danger": $triade-2-rgba,
        "success": $triade-4-rgba,
        "info": $kompliment-2-2-rgba,
        "warning":$zusammengeset-5-rgba,
);

$border-color: lighten($color-theme_brucke-salzwasser-meer-gk9e9j-5-rgba, 30);

/* Fonts */
$headings-color: $kompliment-2-1-rgba;
$headings-font-family: 'Oswald', sans-serif;
$font-family-sans-serif: 'Roboto Condensed', sans-serif;

h1, .h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a  {
  color: $headings-color !important;
}

h5, .h5 {
  font-family: $font-family-sans-serif
}

/* Bootstrap Container */
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* Move the sopy container by resolution */
/* Search module */
#start-page-image {
  height: 22rem;
  padding-bottom: 20px !important;
  background-image: url(../../assets/images/_altmühlsee-gunzenhausen_05885911_high.webp) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

#soapy .container {
  margin-top: -12rem;
}

@media (min-width: 1200px) {

  #soapy {
    padding-bottom: 0;
  }

  #soapy .container {
    margin-top: -5rem;
    -webkit-box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.24);
  }


}

#main {
  min-height: 33rem;
}

/* Background */
.bg-light-blue {
  background-color: lighten($kompliment-2-2-rgba, 10);
}

/* Header Banner */
#header-banner a {
  text-decoration: underline;
}

/* Navigation */
.navbar {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.nav-item {
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: darken($headings-color, 30);
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: $kompliment-2-2-rgba !important;
}

#navbarSupportedContent .badge-success {
  color: #fff;
  font-size: 60%;
}


/* Hostel Listing */
/* on hostel view */
#search-sidebar {
  border-radius: .25rem;
  border: $border-color solid 1px;
  background-color: #fff;
  padding: 1rem;
  color: lighten($body-color, 20);
}

#search-sidebar .dropdown-menu {
  padding-right: 2rem;
  padding-left: 2rem;
}

/* on startpage */
#search-wrapper {
  margin-top: 2.5rem;
  border-radius: .25rem;
  border: $border-color solid 1px;
  background-color: #fff;
  padding: 1rem;
  color: lighten($body-color, 20);
}

#soapy .dropdown-menu {
  min-width: 18rem;
  padding: 1.5rem 2rem;
}

#soapy .custom-control {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

/*.clh-top-position {
  border-top: $headings-color solid 8px !important;
  border-bottom: $headings-color solid 8px !important;
}*/

.listing-icon-location {
  float: left;
  padding-right: 0.3rem;
}

.card-list-hotels h3 a {
  color: $headings-color;
}

.card-list-hotels .accordion .card-header {
  background-color: inherit;
}

.card-list-hotels .accordion .card {
  border-left: none;
  border-right: none;
  border-radius: 0;
}

/* Hostel listing */
#heart-overflow .fa-heart {
  border-radius: 0.1rem;
  padding: 0.2rem;
  font-size: 1.5rem;
  background-color: rgba(111, 110, 110, 0.2);
  position: absolute;
  right: 22px;
  top: 8px;
  color: #fff;
}

#heart-overflow .fa-heart:hover {
  background-color: rgba(111, 110, 110, 0.4);
}

/* Event Listing */
@import "events";

/* Weather Widget */
#weather-widget {
  font-family: "Open Sans", Verdana, Geneva, sans-serif;
  background-color: #fcfcfc;
  color: #404040;
}

#weather-widget .card-header {
  background-color: #fcfcfc;
  border-bottom: none;
}

#weather-widget .info-ow {
  font-size: 0.5rem;
}

#weather-current {
  font-size: 0.8rem;
}

#weather-current .ow-temp {
  font-size: 1rem;
}

#weather-forecast {
  font-size: 0.6rem;
}

#weather-forecast img {
  margin-bottom: 1rem;
}

#weather-forecast .ow-date {
  font-size: 0.8rem;
}

#weather-forecast .ow-temp {
  font-size: 0.9rem;
}

.ow-date {
  font-weight: bold;
}

/* Footer */
#footer .list-group-space {
  margin: .75rem 0;
}

#footer .list-group {
  padding: 0 !important;
  border: 0;
}

#footer .list-group a {
  border-left: 3px solid map_get($theme-colors, "primary") !important;
}


#footer .list-group a {

}

#footer h5 {
  border-bottom: $border-color solid 1px;
}

#footer .list-group-item {
  border-radius: unset;
  border: none;
}

#footer-member .badge-pill {
  font-family: Verdana, serif;
  color: #fff;
}

#copyright {
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-top: $border-color solid 1px;
}

/* Masonry test */
/* ---- grid ---- */

.grid {
  background: #d4e9f529;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */
// Remy function
@function remy($value) {
  @return ($value / 16px) *1rem;
}

#masonry-grid{
  padding-top: .9375rem;
  padding-left: .9375rem;
  padding-right: .9375rem;
}

.grid-sizer,
.grid-item {
  position: relative;
  width: 31%;
  min-width: remy(280px);
}

.grid-item {
  margin-bottom: .9375rem;
  border-radius: remy(4px);
  overflow: hidden;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.grid-item--high,
.grid-item--high img {
  height: remy(470px);
}

.grid-item--high-2,
.grid-item--high-2 img {
  height: remy(335px);
}


// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

// fontawesome fonts include
@import "~@fortawesome/fontawesome-free";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
