{% extends 'base.html.twig' %}

{% block title %}Ihr Merkzettel{% endblock %}

{% block body %}
<div class="container">
   <h1 class="display-4 text-center">Gastgeber Vergleichen</h1>
   <div class="row">

      {% for hostel in hostels %}
          <div class="col-md-3">
              {{ hostel.hostelName }}
          </div>
      {% else %}
         <span class="lead">Keine Gastgeber auf dem Merkzettel gespeichert</span>
      {% endfor %}

   </div>
</div>
{% endblock %}
