<a href="{{ advertising.link }}"><img src="{{ advertising.image }}" class="card-img-top" alt=""></a>
<h4>{{ advertising.title }}</h4>
<div class="sub-line">{{ advertising.text }}</div>
<div class="location-box"><i class="fas fa-map-marker-alt"></i> </div>
