<div class="row">
    <div class="col-md-3">
        <img src="https://altmuehlsee.com/images/unterkuenfte/big/78_1530011549_7.jpg" class="card-img-top" alt="">
        <h4>Ferienhaus Falkenlust</h4>
        <div class="sub-line">Ferienhaus mit Terrasse und Garten</div>
        <div class="location-box"><i class="fas fa-map-marker-alt"></i> Haundorf, 7 km zum See</div>
    </div>
    <div class="col-md-3">
        <img src="https://altmuehlsee.com/images/unterkuenfte/big/4_1534173290_8.jpg" class="card-img-top" alt="">
        <h4>Parkhotel Altm체hltal</h4>
        <div class="sub-line">4-Sterne Superior Wohlf체hl-Hotel</div>
        <div class="location-box"><i class="fas fa-map-marker-alt"></i> Haundorf, 2 km zum See</div>
    </div>
    <div class="col-md-3">
        <img src="https://altmuehlsee.com/images/unterkuenfte/big/57_1530178280_1.jpg" class="card-img-top" alt="">
        <h4>Gasthof Kleemann</h4>
        <div class="sub-line">Fr채nkische Spezialit채ten</div>
        <div class="location-box"><i class="fas fa-map-marker-alt"></i> Haundorf, 7 km zum See</div>
    </div>
    <div class="col-md-3">
        <img src="https://altmuehlsee.com/images/unterkuenfte/big/78_1530011549_7.jpg" class="card-img-top" alt="">
        <h4>Ferienhaus Falkenlust</h4>
        <div class="sub-line">Ferienhaus mit Terrasse und Garten</div>
        <div class="location-box"><i class="fas fa-map-marker-alt"></i> Haundorf, 7 km zum See</div>
    </div>
</div>