{# templates/emails/monthly_statistics.html.twig #}
<h3>Lieber Gastgeber,</h3>

wir freuen uns, dass Sie Ihre Unterkunft auf dem Altmühlsee Portal
www.altmuehlsee.com präsentieren.

Wir haben für Sie gezählt, wie oft Ihr Eintrag im zurückliegenden Monat aufgerufen wurde.
Ihr Eintrag wurde $arr_get_statistics[besucher] Mal angeklickt.
Ihr Eintrag wurde $arr_get_statistics[merken] Mal in die Merkliste übertragen.

Zum Login, gehen Sie auf: <a href="{{ url('login') }}">Admin-Bereich</a>.

Wir freuen uns über die erfolgreiche Zusammenarbeit.

Bitte empfehlen Sie uns weiter!

Mit freundlichen Grßen aus Gunzenhausen

Susanne Albrecht

Webservice Albrecht
Bismarckstr. 27
91710 Gunzenhausen

Tel: 09831 881354

Di, Mi, Do 9.00 - 12.00 Uhr

info@altmuehlsee.com
info@webservice-albrecht.de

http://www.webservice-albrecht.de

St-Nr. 220  200  40231