{# notification mail template user wants a upgrade from his account #}
Hallo Susanne,
ein Benutzer möchte ein Account Upgrade auf {{ path('index') }},
Logge dich im Admin ein und Bearbeite den Account.
<br>
Hier gehts zum <a href="{{ path('admin') }}">Login</a>