<div class="row">
    <div class="col-md-3">
        <span class="text-muted">2007 - <?php echo date('Y'); ?> ©</span> <br>
        <a href="http://webservice-albrecht.de" target="_blank" class="text-muted">Webservice Albrecht</a>
    </div>
    <div class="col-md-3">
        <h5>Inhalt</h5>
        <ul class="list-unstyled">
            <li>
                <a href="/gastgeber.html" class="text-muted">Gastgeber</a>
            </li>
            <li>
                <a href="/region.html" class="text-muted">Region</a>
            </li>
            <li>
                <a href="/veranstaltung.html" class="text-muted">Veranstaltung</a>
            </li>
            <li>
                <a href="/freizeit.html" class="text-muted">Freizeit</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <h5>Information</h5>
        <ul class="list-unstyled">
            <li><a href="/impressum.html" class="text-muted">Impressum</a></li>
            <li><a href="/datenschutzerklearung.html" class="text-muted">Datenschutzerklärung</a></li>
            <li><a href="/kontakt.html" class="text-muted">Kontakt</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h5>Mitglieder</h5>
        <ul class="list-unstyled">
            <li>
                <a href="<?php echo _ADMIN_PAGE_LINK ?>" class="text-muted">Login</a>
            </li>
            <li>
                <a href="<?php echo _ADMIN_PAGE_LINK ?>checkout.php" class="text-muted">Inserat</a>
            </li>
        </ul>
    </div>
</div>