<!-- Wetter -->
<div class="card mb-5">
    <div class="card-header">Wetter</div>
    <div class="card-body">
        <div id="wcom-30218e010521e16bbc06215b171d0534"
             style="border: 0px; background-color: transparent; border-radius: 0px; color: rgb(0, 0, 0); font-size: 11px;
    max-width: 100% !important;
    max-height: 230px !important;
    width: 100% !important;
    height: 287px !important;"
             class="wcom-default">
            <link rel="stylesheet" href="//cs3.wettercomassets.com/woys/5/css/w.css" media="all">
            <div class="wcom-city"><a style="color: #000"
                                      href="https://www.wetter.com/deutschland/gunzenhausen/DE0003906.html"
                                      target="_blank" rel="nofollow" aria-label="Wetter Berlin"
                                      title="Wetter Gunzenhausen">Wetter Altmühlsee</a></div>
            <div id="wcom-30218e010521e16bbc06215b171d0534-weather"></div>
            <script type="text/javascript" src="//cs3.wettercomassets.com/woys/5/js/w.js"></script>
            <script type="text/javascript">_wcomWidget({
                    id: 'wcom-30218e010521e16bbc06215b171d0534',
                    location: 'DE0003906',
                    format: '300x250',
                    type: 'summary'
                });</script>
        </div>
    </div>
</div>

<!-- Wetter #END -->
{#
<div id="wcom-30218e010521e16bbc06215b171d0534" style="border: 0px; background-color: transparent; border-radius: 0px; color: rgb(0, 0, 0);" class="wcom-default w300x250">
    <link rel="stylesheet" href="//cs3.wettercomassets.com/woys/5/css/w.css" media="all">
    <div class="wcom-city"><a style="color: #000" href="https://www.wetter.com/deutschland/gunzenhausen/DE0003906.html" target="_blank" rel="nofollow" aria-label="Wetter Berlin" title="Wetter Gunzenhausen">Wetter Gunzenhausen</a></div>
    <div id="wcom-30218e010521e16bbc06215b171d0534-weather">
        <div style="margin-bottom: 5px; height: 84px; position: relative">
            <div style="position: relative; width: 100px; max-width: 100px;">
                <img src="//cs3.wettercomassets.com/wcomv5/images/icons/weather/d_1.svg" width="100" height="84" alt="leicht bewölkt" title="leicht bewölkt">
            </div>
            <div style="position: absolute; top: 10px; left: 100px; width: 178px; max-width: 178px">
                <div style="margin-bottom: 5px; font-weight: bold;">Donnerstag, 09.04.2020</div>
                <div style="font-size: 14px; margin-bottom: 5px">6 / 21°C</div>
                leicht bewölkt
            </div>
        </div>
        <div style="position: relative; font-size: 10px; text-align: center;">
            <div style="width: 90px; position: absolute; top: 0; left: 0px">
                <div style="font-weight: bold; margin-bottom: 2px">Fr, 10.04.</div>
                <img style="margin-bottom: 2px" src="//cs3.wettercomassets.com/wcomv5/images/icons/weather/d_0.svg" width="54" height="38" alt="sonnig" title="sonnig">
                <div style="margin-bottom: 4px">8 / 21°C</div>
                <div>sonnig</div>
            </div>
            <div style="width: 90px; position: absolute; top: 0; left: 95px">
                <div style="font-weight: bold; margin-bottom: 2px">Sa, 11.04.</div>
                <img style="margin-bottom: 2px" src="//cs3.wettercomassets.com/wcomv5/images/icons/weather/d_0.svg" width="54" height="38" alt="sonnig" title="sonnig">
                <div style="margin-bottom: 4px">5 / 21°C</div>
                <div>sonnig</div>
            </div>
            <div style="width: 90px; position: absolute; top: 0; left: 190px">
                <div style="font-weight: bold; margin-bottom: 2px">So, 12.04.</div>
                <img style="margin-bottom: 2px" src="//cs3.wettercomassets.com/wcomv5/images/icons/weather/d_1.svg" width="54" height="38" alt="leicht bewölkt" title="leicht bewölkt">
                <div style="margin-bottom: 4px">6 / 23°C</div>
                <div>leicht bewölkt</div>
            </div>
        </div>
        <div style="clear: both; position: absolute; bottom: 10px; left: 0; width: 100%">
            <div style="float: left; text-align: center; width: 110px;">
                <a aria-label="wetter.com" href="http://www.wetter.com/" target="_blank" rel="nofollow"><img src="//cs3.wettercomassets.com/woys/5/images/wetter.com_60x12.png" width="80" height="16" alt="wetter.com" title="wetter.com" style="border: 0"></a>
            </div>
            <div style="float: left; width: 180px;vertical-align: middle;">
                <a aria-label="wetter.com" href="https://www.wetter.com/videos/regionalwetter/franken/56cba782217091ab20000022?utm_source=300x250summary&amp;utm_medium=web&amp;utm_campaign=wetterbutton" target="_blank" rel="nofollow">
                    <img src="//cs3.wettercomassets.com/woys/5/images/play_icon.png" width="12" height="12" alt="wetter.com" title="wetter.com" style="border: 0;padding-right: 5px;"><span style="vertical-align:top;">Aktuelles Wetter ansehen</span>
                </a>
            </div>
        </div></div>
    <script type="text/javascript" src="//cs3.wettercomassets.com/woys/5/js/w.js"></script>
    <script type="text/javascript">_wcomWidget({
            id: 'wcom-30218e010521e16bbc06215b171d0534',
            location: 'DE0003906',
            format: '300x250',
            type: 'summary'
        });</script>
</div>#}
